node_modules
dist
dist-electron
out
release
coverage

*.db
*.db-journal
*.db-shm
*.db-wal
data/
*.pem

.env
.env.local
.env.production
.git
.gitignore
.vscode
.idea

README.md
LICENSE
docs/

packages/client/
